<main>
<div id="chat-column">

    
<select>
    <option class="option" value="option-1">What is the meaning of Life?</option>
    <option value="option-2">Why is Jesus stern at times but gentle at other times?</option>    
    
</select>
        
    
<textarea class="chatInput" ng-model="answersList.newAnswer.text"></textarea>
            <button class= "chatButton" ng-click="answersList.addAnswer()">Add Content!</button>
<br>

            <ul class = "chat-spacing">
                <li  ng-repeat="answer in answersList.answers | filter:query">
                   <!-- <p > {{answer.ownerEmail[0].address}} </p> -->
                   
                    <div id="naming-chat">
                    <ul>
                        <li><a> {{answer.ownerName[0].fullNames}}</a></li>
                        <li><a>{{answer.ownerName[0].titles}} </a></li>
                        
                    </ul>
                    </div>
                    
                    <h4 > {{answer.text}} </h4>
                    
                    <ul>
                        <li><a>{{answer.ownerName[0].churches}} </a></li>
                        <li><a>{{answer.ownerName[0].denominations}} </a></li>
                        <li><a>{{answer.ownerName[0].cities}} </a></li>
                    </ul>
                    <!--<button ng-click="answersList.removeAnswer(answer)">Delete</button> -->
                </li>
            </ul> 
    
    </div>
    </main>