

#test {
    //margin-top: 25px;
    //font-size: 21px;
    //text-align: center;
    animation: fadein .7s;
    -moz-animation: fadein .7s; /* Firefox */
    -webkit-animation: fadein .7s; /* Safari and Chrome */
    -o-animation: fadein .7s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}




html { 
height:100vh;
    position:relative;
}

body{
    height:100vh;
    overflow: scroll;
}

#cloud-container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1; 
}

select {
    display: inline-block;
    width: 100%;
    height: 5vh;
    border: 0px;
    padding: 10%;
    border-radius: 0;
    font-size: 3vh;
    background-color: none;
    border-bottom: 3px solid #F4F4F4;
    margin-bottom: 5px;
    margin-left: 10%;
    color: white;
    overflow:hidden; 
    white-space:pre; 
    text-overflow:ellipsis;
    //-webkit-appearance: none;
    
}

select:active {
    border:none;
    outline:none;
}

select:focus {
    border:none;
    outline:none;
}

select:after {
    border:none;
    outline:none;
    border-radius: 0;
}
.option {
    color:white;
}


textarea {
    display: inline-block;
    width: 100%;
}

pre {
    background-color: none;
    font-family: monospace;
    outline:0;
    border: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.subtitle {
    font-size: 10px;
    font-style: normal;
}

.subtitlered {
    font-size: 10px;
    font-style: normal;
    color: red;
}

button {
    width: 100%;
}

.wrap {
 white-space:pre-wrap;
    word-break: keep-all;
    display: block;
}




/* GENERAL */

/* PALLETTE
#F15722 Marmalade
#A52026 Ruby
#0268A6 Royal Blue
#D7E1EB Whitecap
#2E3373 Navy Blue

#FE7B4E Marmalade Faded
#1E97DF Royal Faded


*/
* {
  font-family: 'Lora', serif;
}
html, body {
  overflow-y: :-webkit-scrollbar { 
    display: none; 
}

    margin:0;
    padding: 0;
}
header, main, #no-results, footer {
  width: 100%;
  margin: 0;
}
main {
  min-height: 360px;
    width: 100%;
    margin:0;
    padding: 0;    
}




#left-column {
  position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:scroll;
   height:100vh;
    
    float: left;
  width: 20%;
    margin: 0;
    background-color: #bdc3c7;
    transition: background-color .3s ease-in;
}

#left-column:hover {
    transition: background-color .2s ease-in; 
}

#left-column:hover {
    background-color: orangered; 
}

#snippet-column {
 
    overflow:scroll;
  width: 25%;
    margin: 0;
    background-color: white;
   display: inline-block;
}


#chat-column {
  position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:scroll;
   border-left: 1px solid #F4F4F4;
    height: 100vh;
    float: right;
  width: 100%;
    margin: 0;
    background-color: white;
    transition: border-left .3s ease-in;
}

#chat-column:hover {
    transition: border-left .2s ease-in; 
}

#chat-column:hover {
    border-left: 1px solid orangered; 
}

#left-column img {
    width: 100%;
}

#middle-column {
  width: 79%;
  margin-left: 21%;
    overflow:scroll;
   height:100vh;
}

#right-column {
 
    
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}

.ais-refinement-list--checkbox {
    display: inline;
}

/* INPUT */
header {
  position: relative;
  height: 0px;
  margin-top: 0px;
    float: left;
}
header img {
  position: relative;
  top: 0px;
  left: 0;
  float: left;
  max-width: 23%;
}



.answer-input {
  font-size: 14px;
  font-weight: 100;
  width: 100%;
  margin-left: 0;
    margin-bottom: 20px;
  padding: 10px 0 6px;
  border: none;
  border-bottom: 5px solid #F4F4F4;
}

.answer-input:focus {
    transition: border-color .3s ease-in;
  outline: 0;
}

.answer-input:focus {
    border-color: #FE7B4E;
}

#search-input input {
  font-size: 28px;
  font-weight: 100;
  width: 100%;
  margin-left: 0;
    margin-bottom: 20px;
  padding: 10px 0 6px;
  border: none;
  border-bottom: 5px solid #F4F4F4;
}
#search-input input, #search-input input:focus {
  transition: border-color .3s ease-in;
  outline: 0;
}
#search-input input:focus {
  border-color: orangered;
    
}
#search-input input::-webkit-input-placeholder, #search-input input:-moz-placeholder, #search-input input:-moz-placeholder, #search-input input:-ms-input-placeholder {
  font-weight: 100;
  color: #999;
}
#search-input-icon {
  position: relative;
}
#search-input-icon:before {
  position: absolute;
  right: 0;
  bottom: 15px;
  width: 20px;
  height: 20px;
  content: '';
  cursor: default;
  background: url(img/search_icon.png) no-repeat;
}
#search-input-icon.empty:before {
  cursor: pointer;
  background-image: url(img/delete_icon.png);
}




/* HITS */
#hits {
  margin: 4px 0;
  padding: 10px 0;
  border-top: 2px solid #eee;

}
.hit {
  font-size: 0;
  padding: 3vh 0;
  border-bottom: 1px solid #eee;
    
}
.hit-image {
  display: inline-block;
  width: 16%;
}
.hit-image img {
  max-width: 100%;
  max-height: 180px;
}
.hit-content {
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  margin-left: 0%;
  vertical-align: top;
}
.hit-content .hit-price {
  font-size: 20px;
  float: left;
  margin-left: 0px;
  color: firebrick;
    display: inline-block;
}
.hit-content .hit-price, .hit-content .hit-name {
  font-weight: 700;
  margin-bottom: 5px;
}
.hit-content em {
  font-style: normal;
  background: #fbdde0;

}

.hit-name {
    color: #424242;
    margin-top: 0;
}

.hit-text {
  font-style: normal;
    font-size: 16px;
    display:inline-block;
    vertical-align: top;
    color: black;
}

.hit-church {
  font-style: normal;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    vertical-align: top;
    color: #ADADAD;
}

.hit-sub-title {
  font-style: normal;
    display:inline;
    vertical-align: top;
    color: gray;
   

}

.hit-content .hit-description {
  color: #999;
}

.hit-author {
  font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
    display: block;
    vertical-align: top;
    color: #FFB59A;
}

/* PAGINATION */
#pagination {
  margin-top: 60px;
    margin-bottom: 30px;
}
#pagination ul {
  font-size: 0;
  list-style-type: none;
  text-align: center;
}
#pagination li {
  font-size: 14px;
  display: inline;
}
#pagination a {
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
  border: 1px solid #eee;
}
#pagination a:hover {
  background: #f5f5f5;
}
#pagination li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#pagination li:last-child a {
  border-right: 1px solid #eee;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#pagination li.ais-pagination--item__active a {
  color: white;
  border-color: gainsboro;
  background: orangered;
}
#pagination li.ais-pagination--item__active a:hover {
  cursor: default;
}
#pagination li.ais-pagination--item__disabled a {
  cursor: not-allowed;
}
#pagination li.ais-pagination--item__disabled a:hover {
  background: none;
}

/* SORT BY */
#sort-by-wrapper {
  font-weight: 300;
  position: relative;

  float: right;
  color: #999;
}

#sort-by select {
  font-size: 16px;
  padding-right: 14px;
  cursor: pointer;
  border: none;
    padding:0px;
    padding-right: 14px;
    padding-bottom: 10%;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#sort-by:after {
  content: "";
  display: inline-block;
  position: absolute;

  top: 8px;
  right: 0;

  width: 0;
  height: 0;

  margin-left: 2px;
  vertical-align: middle;

  color: #000;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;

  pointer-events: none;
}

/* STATS */
#stats {

}

#stats .ais-stats--time {
  font-size: 0.8em;
  color: #999;
}

/* FACETS */
.facet {
  margin-bottom: 24px;
    

}
.facet h5 {
  margin: 15px 0 6px;
  padding: 0 0 0 10px;
  text-transform: uppercase;
  border-bottom: 0px solid #eee;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.facet ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
    
   


}
.facet li {
  margin-bottom: 3px;
    

}
.ais-refinement-list--label,
.ais-menu--link {
  font-size: 15px;
  line-height: 1.6;
  text-decoration: none;
    padding-left: 10%;
  color: white;
    font-family: 'Poppins', sans-serif;
  cursor: pointer;
    
    
     


}
.ais-refinement-list--label:hover, .ais-refinement-list--item__active .ais-refinement-list--label,
.ais-menu--link:hover, .ais-menu--item__active .ais-menu--link {
  color: white;
    background-color: #424242;
    padding-right: 15px;

}
.ais-refinement-list--item__active .ais-refinement-list--label:hover,
.ais-menu--item__active .ais-menu--link:hover {
  //text-decoration: line-through;
  color: white;
    background-color: #424242;
    font-weight: 700;
}
.ais-refinement-list--count,
.ais-menu--count {
  position: relative;
  top: 0px;
    margin-left: 4px;
  float: inherit;
  color: white;

    padding-right: 10px;
}



/* NO RESULTS */
.no-results #pagination, .no-results #sort-by, .no-results #stats, .no-results #facets {
  display: none;
}
#no-results-message {
  text-align: center;
}
#no-results-message p {
  font-size: 28px;
  font-weight: 100;
}
#no-results-message ul {
  list-style-type: none;
}
#no-results-message li {
  font-size: 12px;
  position: relative;
  display: inline-block;
  margin: 4px 2px;
  padding: 4px 28px 4px 8px;
  color: #999;
  border: 1px solid #ddd;
  border-radius: 12px;
}
#no-results-message li span.value {
  font-weight: bold;
  color: #000;
}
#no-results-message li a.remove img {
  position: absolute;
  top: 3px;
  right: 5px;
  float: right;
  width: 17px;
  height: 17px;
  opacity: .5;
}
#no-results-message li a.remove:hover img {
  opacity: 1;
}
a.clear-all {
  font-size: 12px;
  line-height: 1;
  display: inline-block;
  margin: 10px;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
  border: 2px solid #ddd;
  border-radius: 4px;
}
a.clear-all:hover {
  transition: border-color .3s ease-in;
  border-color: #999;
}

/* LABELS */
div li {
    display: inline;
    
    font-family: 'Poppins', sans-serif;

}



li{
    padding: 2px 5px 2px 5px;
    margin: 0;
}

.people {
    background-color: #FFB59A;
}

.topics {
    background-color: #ADADAD;
}

.label {
  display: inline;
  padding: 0em 0em 0em;
  font-size: 75%;
  font-weight: 300;
  line-height: 2.6;
  color: white;
  text-align: center;
  white-space: normal;
  vertical-align: baseline;
    word-spacing: 1px;
  border-radius: 0em;
    list-style: none;

}


a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;

}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
 background-color: white;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: white;
}

/* SLIDER */
.ais-range-slider--target {
  margin: 40px 30px 40px 0;
  font-size: 13px;
}

.ais-range-slider--connect {
  background: #ed5565;
}

.ais-range-slider--handle {
  border-color: #ed5565;
}

/* FOOTER */
footer {
  font-size: 14px;
  margin-top: 200px;
  margin-bottom: 24px;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #ed5565;
}
footer a:hover {
  text-decoration: underline;
  color: #ed5565;
}

/* PALLETTE
#F15722 Marmalade
#A52026 Ruby
#0268A6 Royal Blue
#D7E1EB Whitecap
#2E3373 Navy Blue

#FE7B4E Marmalade Faded
#1E97DF Royal Faded


*/

/* BOOTSTRAP */

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  //text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.input2 {
    display: inline-block;
    font-size: 14px;
  font-weight: 100;
  width: 100%;
  margin-left: 0;
    margin-bottom: 20px;
  padding: 10px 0 6px;
  border: none;
  border-bottom: 2px solid #F4F4F4;
}


.input2:focus {
    transition: border-color .3s ease-in;
  outline: 0;
}

.input2:focus {
    border-color: #D89CA6;
}

.input3 {
    display: inline-block;
    width: 100%;
    font-size: 14px;
  font-weight: 100;
  width: 100%;
  margin-left: 0;
    margin-bottom: 20px;
  padding: 10px 0 6px;
  border: none;
  border-bottom: 2px solid #F4F4F4;
    border-left: 2px solid #F4F4F4;
}


.input3:focus {
    transition: border-color .3s ease-in;
  outline: 0;
}

.input3:focus {
    border-color: #D89CA6;
}




.input4 {
    display: inline-block;
    width: 20%;
    font-size: 14px;
  font-weight: 100;
  margin-left: 0;
    margin-bottom: 20px;
  padding: 10px 0 6px;
  border: none;
  border-bottom: 2px solid #F4F4F4;
    
}


.input4:focus {
    transition: border-color .3s ease-in;
  outline: 0;
}

.input4:focus {
    border-color: #D89CA6;
}

.input5 {
    display: inline-block;
    width: 20%;
    font-size: 14px;
  font-weight: 100;
  margin-left: 0;
    margin-bottom: 20px;
  padding: 10px 0 6px;
  border: none;
  border-bottom: 2px solid #F4F4F4;
    
}


.input5:focus {
    transition: border-color .3s ease-in;
  outline: 0;
}

.input5:focus {
    border-color: #D89CA6;
}

.references{
    width: 30%;
    display: inline-block;
    border: 3px solid #F4F4F4;
    padding: 1%;
    margin: 1%;
}

.blocked{
    width: 46%;
    border: 2px solid #F4F4F4;
    padding: 1%;
    margin: 1%;
    display: inline-block;
}

.blockedFull{
    width: 94%;
    border: 2px solid #F4F4F4;
    padding: 1%;
    margin: 1%;
    display: inline-block;
    margin-right: 1%;
}



textarea {
    height: 10vh;
}

.inline {
    display: inline;
}

.float-right {
    float: right;
}

.height {
    height: 80vh;
}

.chatInput {
    display: inline-block;
    width: 90%;
    height: 15vh;
    font-size: 14px;
  font-weight: 100;
  margin-left: 5%;
    margin-bottom: 0;
    margin-top: 10px;
  padding: 10px 5% 6px 5%;
  border: none;
  border-bottom: 3px solid #F4F4F4;
    border-left: 0px solid #F4F4F4;
}

.chatInput:hover {
    transition: border-color .3s ease-in;
  outline: 0;
}

.chatInput:hover {
    border-color: #F15722;
}

.chatInput:focus {
    transition: border-color .3s ease-in;
  outline: 0;
}

.chatInput:focus {
    border-color: #F15722;
}

.chatButton {
    border: none;
    background-color: white;
    color: orangered;
}

.contentButton {
    border: none;
    background-color: white;
    color: orangered;
    border-left: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: orangered;
}

.contentButton:hover {
    transition: border-color .3s ease-in;
    transition: color .2s ease-in;
    transition: background-color .2s ease-in;
  outline: 0;
}

.contentButton:hover {
    border-color: #F4F4F4;
    color: white;
    background-color: orangered;
    outline-color: transparent;
  outline-style: none;
}

.input3area {
    display: inline-block;
    width: 100%;
    height: 20vh;
    font-size: 14px;
  font-weight: 100;
  margin-left: 0;
    margin-bottom: 20px;
  padding: 10px 5% 6px 5%;
  border: none;
  border-bottom: 3px solid #F4F4F4;
    border-left: 3px solid #F4F4F4;
}


.input3area:focus {
    transition: border-color .3s ease-in;
  outline: 0;
}

.input3area:focus {
    border-color: #F15722;
}

.col-xs-8 {
    padding: 0;
    margin:0;
    overflow: scroll;
}

.col-xs-4 {
    padding: 5px;
    margin:0;
    
}

.col-xs-9 {
    padding: 0;
    margin:0;
    overflow: scroll;
}

.col-xs-3 {
    padding: 0;
    margin:0;
}

input[type="checkbox"] {
    display:none;
}

border-left {
    border-left: 3px solid #F4F4F4;
}

.list-light {
    background-color: white;
    border: 3px solid #F4F4F4;
    padding: 10%;
    cursor: pointer;
}

.list-light:hover{
    transition: border-color .3s ease-in;
    transition: background-color .1s ease-in;
  outline: 0;
}

.list-light:hover {
    border-color: orangered;
    background-color: #f4f4f4;
}

.preview {
    background-color: #F4F4F4;
}
.preview:active {
    background-color: blue;
}

.center-content {
    padding-left: 5%;
}

.chat-spacing {
    padding: 0 5% 0 5%;
}

.scroll {
    overflow-y: scroll;

}

#login-dropdown-list {
    position: absolute;
    top:auto;
    left:auto;
    bottom: 100%;
    right: 50%;
}

.right {
    float:right;
}

.left {
    float:left;
}

#naming-chat ul
{
    margin: 0;
    padding: 0;
}

#naming-chat ul li
{
    list-style-type: none;
    display: inline;
    color: #FFB59A;
    
}

#naming-chat li:before {
content: " |  ";
}

#naming-chat li:first-child:before {
content: none;
    
}

a {
    color:inherit;
}

a:hover {
    color:inherit;
    text-decoration: inherit;
}

::-webkit-scrollbar { 
    display: none; 
}